@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace&family=Montserrat&family=Poppins&family=Pacifico&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}
.curveLine {
  width: 150px; 
  height: 100px; 
  position: absolute;
  right: 0px;
  top: 30px; 
  border: solid 5px #279EFF;
  border-color: #279EFF transparent transparent transparent;
  border-radius: 50%/140px 140px 0 0;
}

@media screen and (max-width: 1375px) {
  .navContainer{
    width: 100%;
  }
  .heroContainer {
    width: 100%;
  }
  .gallerySection{
    width: 100%;
  }
  .bookSession{
    width: 100%;
  }
  .trendingSession{
    display: flex;
    flex-direction: column;
  }
}